:root{
  --char: 22ch;
  --number: 22;
}

*,*::after, *::before´{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body,h1,p{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}
.container{
  background-image: url(./img/test.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 99vw;
}

.container_left{
  margin: 2em;
  font-size: 1.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

.typing{
  position: absolute;
  border-bottom: 4px solid #fff;
  display: flex;
  top: 60%;

}
@media only screen and (max-width:1024px){
  .typing{
    display: none;
  }
}

.container_right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container_right ul{
  list-style: none;

  
}
.container_right ul li{
  margin: 4em;
  font-weight: bold;
  font-size: 1.2em;
  transition: all 2s ease;
}
.container_right ul li a{
    text-decoration: none;
    color: #fff;
} 

.container_right ul li:hover{
  transform: scale(2,2);
}

#type{
  animation: type 4s steps(var(--number)); 
  overflow: hidden;
  white-space: nowrap;
  font-family: monospace;
  border-right: 4px solid #fff;
  font-size: 1.1em;

}

@keyframes type{
  0%{
    width: 0ch;
  }
  100%{
    width: var(--char);
  }
}